@page "/logged-out"
@attribute [AllowAnonymous]

<PageTitle>Logged Out</PageTitle>

<div class="container text-center mt-5">
    <h2>Thank you!</h2>
    <p>You have been successfully logged out.</p>

    <a class="btn btn-primary mt-3" href="/">
        Login Again
    </a>
</div>
