@page "/JobDetails/{id}"
@using StowellCoApp.Components.Layout
@layout MainLayout
@using Radzen
@using Radzen.Blazor
@inject IJSRuntime JS
@using StowellCoApp.DTO
@using StowellCoApp.Services
<PageTitle>Job Details</PageTitle>

<div class="card-header">
    <h4 class="m-0">Job Details</h4>
</div>
<div class="calendardashboard-container">
    <div class="card">
        </div>
        </div>