@page "/StowellAdmin"
<style>
    .row {
        margin: 10px 0px;
    }

    .mod-high-contrast:not(.mod-skin-dark) .btn-secondary {
        color: #FFF !important;
        text-shadow: none !important;
    }
</style>
<h3>Phoenix Admin</h3>
<hr />
<div class="wrapper wrapper-content">
    <div class="row white-bg p-10 my-2">
        <div class="col-lg-12">
            <div class="hr-line-dashed"></div>
            <div class="form-group row stowellAdmin-cls">
                <div class="col-sm-3 text-center mt-4">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="40"
                         width="40" xmlns="http://www.w3.org/2000/svg" style="color:#000;">
                        <path d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM64 80c0-8.8 7.2-16 16-16l64 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L80 96c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16l64 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-64 0c-8.8 0-16-7.2-16-16zm128 72c8.8 0 16 7.2 16 16l0 17.3c8.5 1.2 16.7 3.1 24.1 5.1c8.5 2.3 13.6 11 11.3 19.6s-11 13.6-19.6 11.3c-11.1-3-22-5.2-32.1-5.3c-8.4-.1-17.4 1.8-23.6 5.5c-5.7 3.4-8.1 7.3-8.1 12.8c0 3.7 1.3 6.5 7.3 10.1c6.9 4.1 16.6 7.1 29.2 10.9l.5 .1s0 0 0 0s0 0 0 0c11.3 3.4 25.3 7.6 36.3 14.6c12.1 7.6 22.4 19.7 22.7 38.2c.3 19.3-9.6 33.3-22.9 41.6c-7.7 4.8-16.4 7.6-25.1 9.1l0 17.1c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-17.8c-11.2-2.1-21.7-5.7-30.9-8.9c0 0 0 0 0 0c-2.1-.7-4.2-1.4-6.2-2.1c-8.4-2.8-12.9-11.9-10.1-20.2s11.9-12.9 20.2-10.1c2.5 .8 4.8 1.6 7.1 2.4c0 0 0 0 0 0s0 0 0 0s0 0 0 0c13.6 4.6 24.6 8.4 36.3 8.7c9.1 .3 17.9-1.7 23.7-5.3c5.1-3.2 7.9-7.3 7.8-14c-.1-4.6-1.8-7.8-7.7-11.6c-6.8-4.3-16.5-7.4-29-11.2l-1.6-.5s0 0 0 0c-11-3.3-24.3-7.3-34.8-13.7c-12-7.2-22.6-18.9-22.7-37.3c-.1-19.4 10.8-32.8 23.8-40.5c7.5-4.4 15.8-7.2 24.1-8.7l0-17.3c0-8.8 7.2-16 16-16z">
                        </path>
                    </svg> <br><br><a href="/StowellAdmin" id="invoiceUploadBtn">Invoice Upload</a>
                </div>
                <div class="col-sm-3 text-center mt-4">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="40"
                         width="40" xmlns="http://www.w3.org/2000/svg" style="color: #000;">
                        <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z">
                        </path>
                    </svg> <br><br>
                    @* <a href="#" id="processAccessBtn">Project Access Management</a> *@
                    <a href="/StowellAdmin/AdminPanel">Project Access Management</a>
                </div>
                <div class="col-sm-3 text-center mt-4">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 640 512" height="40"
                         width="40" xmlns="http://www.w3.org/2000/svg" style="color: #000;">
                        <path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7l-135-105.8c-1.1-11.4-6.3-22.3-15.3-30.7l-134.2-123-23.4 18.2-26-20.3 77.2-60.1c7-5.4 17-4.2 22.5 2.8s4.2 17-2.8 22.5l-20.9 16.2L512 316.8 512 128l-.7 0-3.9-2.5L434.8 79c-15.3-9.8-33.2-15-51.4-15c-21.8 0-43 7.5-60 21.2l-89.7 72.6-25.8-20.3 81.8-66.2c-11.6-4.9-24.1-7.4-36.8-7.4C234 64 215.7 69.6 200 80l-35.5 23.7L38.8 5.1zM96 171.6L40.6 128 0 128 0 352c0 17.7 14.3 32 32 32l32 0c17.7 0 32-14.3 32-32l0-180.4zM413.6 421.9L128 196.9 128 352l28.2 0 91.4 83.4c19.6 17.9 49.9 16.5 67.8-3.1c5.5-6.1 9.2-13.2 11.1-20.6l17 15.6c19.5 17.9 49.9 16.6 67.8-2.9c.8-.8 1.5-1.7 2.2-2.6zM48 320a16 16 0 1 1 0 32 16 16 0 1 1 0-32zM544 128l0 224c0 17.7 14.3 32 32 32l32 0c17.7 0 32-14.3 32-32l0-224-96 0zm32 208a16 16 0 1 1 32 0 16 16 0 1 1 -32 0z">
                        </path>
                    </svg> <br><br><a href="/StowellAdmin/DisconnectUsers">Sage Session Disconnect</a>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        </div>
    </div>
</div>

<div role="dialog" aria-modal="true" class="fade modal show" tabindex="-1" id="invoiceUpload">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h4">Add Bids</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">File ID</label><select name="fileId" class="form-select">
                                    <option value="">Select</option>
                                    <option value="1">File ID 1</option>
                                    <option value="2">File ID 2</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Name</label><input class="form-control" type="text" value=""
                                                                             name="name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Amount</label><input class="form-control" type="number"
                                                                               value="" name="amount">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Date</label><input class="form-control" type="date"
                                                                             value="2025-04-28" name="date" data-date-format="MM/DD/YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Notes</label><textarea rows="4" name="notes"
                                                                         class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Upload Files</label>
                        <div class="drop-zone p-5 border rounded text-center bg-light">
                            <p class="mb-0 text-muted">Drag and Drop File Here</p><input multiple="" class="d-none"
                                                                                         id="fileInput" type="file"><button type="button"
                                                                                                                            class="mt-3 btn btn-primary">
                                Upload
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</div>

<div role="dialog" aria-modal="true" class="fade modal show" tabindex="-1" id="projectAccessMgmt">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h4">Additional Resources</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive mb-4">
                    <div class="container">
                        <h2>Job Roles and Employees</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Job ID</th>
                                    <th>Job Name</th>
                                    <th>Role</th>
                                    <th>Employee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Row 1 -->
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-primary toggle-btn" data-target="#details-10123">
                                            <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <button class="btn btn-sm btn-secondary" data-toggle="modal"
                                                data-target="#editModal-10123">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                    <td>10123</td>
                                    <td>10123 - 400 Central</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr id="details-10123" class="details-row" style="display: none;">
                                    <td colspan="5">
                                        <table class="table table-sm">
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td>Branch Manager</td>
                                                    <td>Employee 1</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Project Manager</td>
                                                    <td>Employee 2</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <!-- Row 2 -->
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-primary toggle-btn" data-target="#details-10128">
                                            <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <button class="btn btn-sm btn-secondary" data-toggle="modal"
                                                data-target="#editModal-10128">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                    <td>10128</td>
                                    <td>10128 - 1000 First Avenue Apartments</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr id="details-10128" class="details-row" style="display: none;">
                                    <td colspan="5">
                                        <table class="table table-sm">
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td>Branch Manager</td>
                                                    <td>Employee 1</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Project Manager</td>
                                                    <td>Employee 2</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Field Crew</td>
                                                    <td>Employee 3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <!-- Row 3 -->
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-primary toggle-btn" data-target="#details-10130">
                                            <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <button class="btn btn-sm btn-secondary" data-toggle="modal"
                                                data-target="#editModal-10130">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                    <td>10130</td>
                                    <td>10130 - Art House Condominiums</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr id="details-10130" class="details-row" style="display: none;">
                                    <td colspan="5">
                                        <table class="table table-sm">
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td>Branch Manager</td>
                                                    <td>Employee 1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <!-- Row 4 -->
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-primary toggle-btn" data-target="#details-10132">
                                            <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <button class="btn btn-sm btn-secondary" data-toggle="modal"
                                                data-target="#editModal-10132">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                    <td>10132</td>
                                    <td>10132 - Fairfield Avenue</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr id="details-10132" class="details-row" style="display: none;">
                                    <td colspan="5">
                                        <table class="table table-sm">
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td>Branch Manager</td>
                                                    <td>Employee 1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal-10123" tabindex="-1" role="dialog" aria-labelledby="editModalLabel-10123" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel-10123">Edit Job 10123</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editRole-10123">Role</label>
                        <select id="editRole-10123" class="form-control">
                            <option>Select</option>
                            <option>Branch Manager</option>
                            <option>Project Manager</option>
                            <option>Field Crew</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editEmployee-10123">Employee</label>
                        <select id="editEmployee-10123" class="form-control">
                            <option>Select</option>
                            <option>Employee 1</option>
                            <option>Employee 2</option>
                            <option>Employee 3</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButtons = document.querySelectorAll(".toggle-btn");

        toggleButtons.forEach(button => {
            button.addEventListener("click", function () {
                const targetId = this.getAttribute("data-target");
                const targetRow = document.querySelector(targetId);

                if (targetRow.style.display === "none") {
                    targetRow.style.display = "";
                    this.innerHTML = '<i class="fa fa-chevron-up"></i>';
                } else {
                    targetRow.style.display = "none";
                    this.innerHTML = '<i class="fa fa-chevron-down"></i>';
                }
            });
        });
    });
</script>
@code {

}
<style>
    .stowellAdmin-cls a{
        color: #000 !important;
    }
</style>
