@page "/spreadsheet-viewer"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using Microsoft.AspNetCore.WebUtilities
@using Syncfusion.Blazor.Spreadsheet
@using System;
@using System.IO;
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div>
                <SfSpreadsheet DataSource="DataSourceBytes" AllowAutofill="true" AllowSorting="true" AllowEditing="true" AllowResizing="true">
                    <SpreadsheetRibbon></SpreadsheetRibbon>
                </SfSpreadsheet>
            </div>
        </div>
    </div>
</div>
@code {
    public byte[] DataSourceBytes { get; set; }
    [Parameter] public string filePath { get; set; }
    private string DocumentPath { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query)
            .TryGetValue("filePath", out var filePath))
        {
            DocumentPath = Uri.UnescapeDataString(filePath);
            DataSourceBytes = await Http.GetByteArrayAsync(DocumentPath);
        }
    }
}